@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap);

@import url(reset.css);

body {
   font-family: 'Inter', sans-serif;
   font-size: 18px;
}

/* HEADER */

.header_container {
   background: linear-gradient(0deg, rgba(207, 226, 17, 0.8968181022408963) 9%, rgba(11, 244, 163, 0.9682466736694678) 57%, rgba(90, 209, 83, 1) 85%, rgba(172, 209, 83, 1) 95%);
   text-align: center;
   padding: 50px 0;
   border-bottom: 10px dotted red;
}

h1 {
   font-size: 50px;
   font-weight: 600;
   text-transform: uppercase;
   font-style: italic;
   margin-bottom: 20px;
   color: red;
   text-shadow: 15px 15px 10px violet;
}

.header_container p {
   font-size: 40px;
   font-weight: 500;
   text-transform: capitalize;
   font-style: italic;
   margin-bottom: 30px;
   text-shadow: 15px 15px 10px violet;
   color: red;
}

.header_list {
   margin-left: 30px;
}

.header_list_item {
   display: inline-block;
   margin-right: 30px;
   color: beige;
   font-weight: 500;
   text-transform: capitalize;
   border: 1px solid brown;
   border-radius: 5px;
   background: green;
   box-shadow: 10PX 10PX 10PX rgb(20, 149, 46);
}

.header_list_item:hover {
   background-color: rgb(34, 206, 48);
   border: 2px dashed red;
}

.header_list_item:active {
   background-color: greenyellow;
   border: 3px dotted brown;
}

.header_list_item a:visited{
   color: rgb(183, 143, 220);
}

.header_list_item a {
   padding: 10px;
}

/* PRACTICE */

main {
   margin-bottom: 100px;
}

#practice_link {
   background-color:#d8f3f7;
   margin-bottom: 100px;
}

.practice_container {
   max-width: 1100px;
   margin: 0 auto;
   padding-top: 50px;
}

.practice_title,
.tamplates_title,
.game_title {
   text-align: center;
   text-transform: capitalize;
   color: maroon;
   font-size: 30px;
   text-shadow: 15px 12px 5px grey;
   text-decoration:underline;
   font-weight: 600;
   margin-bottom: 40px;
}

.practice_classes {
   width: 450px;
}

.practice_classes > *:not(:last-child) {
   margin-bottom: 20px;
}

.classes_list {
   width: 180px;
   display: inline-block;
}

.classes_list li{
   text-transform: capitalize;
   line-height: 3.5;
}

.classes_list li::after {
   content: "";
   display: inline-block;
   background: #e51111;
   width: 15px;
   height: 17px;
   margin-bottom: -2px;
}

.classes_list li:hover::after {
   content: "";
   background: #efe805;
 
}

.classes_hover:hover {
   font-weight: 600;
   color: #be00ff;
   text-shadow: 10px 10px 10px;
}

.classes_active:active {
   font-weight: 600;
   color: green;
   text-shadow: 10px 10px 10px;
}

.classes_focus a:focus {
   outline: 3px dashed pink;
   color: yellow;
}

.classes_visited a:visited {
   color: red;
}

.block {
   display: none;
   width: 250px;
   height: 270px;
   background-image: url(../img/kitten.webp);
   background-size: cover;
}

.classes_list:hover + .block{
   display: inline-block;
}

.target {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 30px;
   display: none;
}

#target:target {
   display: block;
}

.state_classes {
   max-width: 100%;
   margin-bottom: 50px;
}

.state_classes > *:not(:last-child) {
   margin-bottom: 20px;
}

.state_classes p {
   border: 2px solid grey;
   border-radius: 10px;
   background-color: aliceblue;
   padding: 10px;
}

.state_classes p:not(:first-child) {
   font-style: italic;
}

.state_classes p:nth-child(3) {
   text-decoration: underline;
}

.state_classes p:not(:nth-child(2)) {
   font-size: 24px;
}

.state_classes p:nth-child(even) {
   color: blueviolet;
}

.state_classes p:nth-child(odd) {
   color: darkorange;
}

.state_classes p:nth-child(3n+1) {
   text-transform: uppercase;
}

.state_classes p:nth-child(2n+3) {
   text-align: justify;
}

.state_classes p:last-of-type {
   font-style: normal;
}

.state_classes p::before {
   content: "";
   display: inline-block;
   background: url(../img/vector.png) no-repeat;
   width: 27px;
   height: 27px;
}

.state_classes p:hover::before {
   content: "";
   display: inline-block;
   opacity: 0.5;
}

.block_img {
   width: 300px;
   margin: 0 auto;
}

.image {
   width: 100%;
   visibility: hidden;
}

.block_img:hover .image {
   visibility: visible;
}

.classes_list {
   counter-reset: item;
}

.classes_list li:before {
   counter-increment: item;
   content: counter(item)" .";
   display: inline-block;
   margin-right: 5px;
   color: rgb(9, 9, 9);
}

/* TAMPLATES */

#tamplates_link {
   margin-bottom: 100px;
}

/* TAMPLATE ONE */

.tamplate_one_container {
   max-width: 692px;
   margin: 0 auto 100px;
}

.one_point {
   margin-bottom: 42px;
}

.one_point h2 {
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 30px;
   font-weight: 600;
   line-height: 1.3;
   margin-bottom: 3px;
}

.tamplate_one p {
   color: #7D7D7D;
   line-height: 1.5;
   text-align: justify;
}

.one_info {
   margin-bottom: 40px;
} 

.one_info h3 {
   color: #6B77E5;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.3;
   margin-bottom: 12px;
}

.one_benefits {
   margin-bottom: 50px;
   font-size: 0;
}

.benefits_image {
   max-width: 331px;
   display: inline-block;
   margin-right: 29px;
}

.our_benefits {
   max-width: 332px;
   display: inline-block;
   vertical-align: top;
}

.our_benefits h3 {
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.3;
   margin-bottom: 15px;
}

.our_benefits h4 {
   color: #40DDB6;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.3;
   margin-bottom: 21px;
}

.benefits_list {
   vertical-align: top;
}

.benefits_item {
   color: #7D7D7D;
   font-size: 18px;
}

.benefits_item:not(:last-child) {
   margin-bottom: 30px;
}

.benefits_item::before {
   content: "";
   background: url(../img/vector.png) no-repeat;
   width: 27px;
   height: 27px;
   margin-right: 6px;
   vertical-align: -7px;
}

.one_questions h2 {
   color: #37393F;
   font-family: 'Poppins',sans-serif;
   font-size: 30px;
   font-weight: 600;
   line-height: 1.3;
   margin-bottom: 4px;
}

/* TAMPLATE TWO */

.tamplate_two_container {
   max-width: 673px;
   margin: 0 auto 100px;
}

.two_introduction,
.two_points {
   margin-bottom: 48px;
}

.two_three_title {
   max-width: 413px;
   text-transform: capitalize;
   margin-bottom: 10px;
}

.two_three_title h4 {
   color: #37393F;
   font-weight: 500;
   margin-bottom: 16px;
}

.two_three_title h4::before {
   content: "";
   background: #40DDB6;;
   width: 12px;
   height: 12px;
   margin-right: 6px;
} 

.two_three_title h2 {
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.2;
}

.tamplate_two p {
   color: #7D7D7D;
   line-height: 1.5;
}

.two_text p:not(:last-child) {
   margin-bottom: 16px;
}

.two_points h3 {
   text-transform: capitalize;
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 12px;
   line-height: 1.4;
}

.points_item {
   border: 1px solid #E3E3E3;
   padding: 28px 39px 28px 82px;
   background: url(../img/vector.png) 38px 28px / 27px 27px no-repeat;
   display: inline-block;
}

.points_item:not(:last-child) {
   margin-bottom: 31px;
}

.two_link {
   width: 200px;
}

.two_link:hover {
   box-shadow: 0 0 20px #6B77E5;
}

.two_link a {
   color: #FFF;
   text-align: center;
   font-weight: 600;
   text-transform: capitalize;
   background: #6B77E5;
   padding: 21px 35px 22px;
}

/* TAMPLATE THREE */

.tamplate_three_container {
   max-width: 1220px;
   margin: 0 auto 100px;
}

.tamplate_three {
   text-align: center;
}

.tamplate_three .two_three_title {
   max-width: 100%;
   margin-bottom: 41px;
}

.three_point {
   font-size: 0;
   padding-top: 36px;
}

.three_point a:hover {
   text-shadow: 0 0 15px;
}

.three_info {
   width: 386px;
   padding: 58px 43px;
   display: inline-block;
   background: #F4F4F4;
}

.three_info img {
   border-radius: 50%;
   display: inline-block;
   margin-top: -92px;
}

.three_info h3 {
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.3;
   margin-bottom: 16px;
}

.three_info p {
   color: #7D7D7D;
   font-size: 18px;
   line-height: 1.5;
   margin-bottom: 37px;
}

.three_info:not(:last-child) {
   margin-right: 30px;
}

.three_info a {
   color: #6B77E5;
   font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
}

/* TAMPLATE FOUR */

.tamplate_four_container {
   max-width: 1214px;
   margin: 0 auto;
}

.tamplate_four {
   font-size: 0;
}

.tamplate_four p {
   color: #000;
   font-family: 'Cormorant Infant', sans-serif;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.4;
}

.four_card_one {
   max-width: 481px;
   padding-top: 150px;
   display: inline-block;
   vertical-align: top;
}

.four_card_one h2 {
   max-width: 100%;
   color: #000;
   font-family: 'Cormorant Infant', sans-serif;
   font-size: 60px;
   font-weight: 700;
   line-height: 1.2;
   margin-bottom: 13px;
   text-transform: capitalize;
}

.card_one_line {
   max-width: 304px;
   height: 3px;
   background: #78473B;
}

.four_card_two {
   max-width: 334px;
   display: inline-block;
   padding-top: 32px;
   margin-right: 55px;
   vertical-align: top;
}

.card_block {
   border: 1px solid #000;
   margin-bottom: 34px;
}

.card_block img {
   max-width: 100%;
   margin-top: 10px;
   margin-left: 9px;
   margin-bottom: -10px;
   margin-right: -9px;
}

.tamplate_four p:not(:last-child) {
   margin-bottom: 4px;
}

.four_card_three {
   max-width: 334px;
   display: inline-block;
   vertical-align: top;
}

.four_card_three h3 {
   color: #000;
   font-family: 'Cormorant Infant', sans-serif;
   font-size: 46px;
   font-weight: 700;
   line-height: 1.1;
   margin-bottom: 35px;
}

.card_link:hover {
   box-shadow: 0 0 15px #b3a6de;
}

.card_block img:hover {
   box-shadow: 0 0 15px #b3a6de;
}

/* GAME */

.game_container {
   max-width: 1100px;
   margin: 0 auto;
}

.game {
   text-align: center;
}

/* .game_title {
   text-align: center;
   text-transform: capitalize;
   font-size: 30px;
   text-shadow: 15px 12px 5px grey;
   text-decoration: underline;
   font-weight: 600;
   margin-bottom: 40px;
} */

.game h3 {
   text-align: center;
   text-transform: capitalize;
   font-weight: 600;
   font-size: 26px;
   margin-bottom: 10px;
}

.game > h3 a {
   font-size: 30px;
   color: #e51111;
   text-shadow: 10px 10px 10px;
}

.canvas {
   max-width: 100%;
   height: 700px;
   background-color: #d8f3f7;
}

.start {
   display: none;
   width: 100px;
   height: 100px;
   text-align: center;
   background-color: #b3a6de;
   margin-left: 150px;
   font-size: 26px;
   padding-top: 5px;
   font-weight: 600;
   color: red;
}

#press:target {
   display: block;
}

.start span {
   color: blue;
   font-weight: 400;
   font-size: 18px;
   line-height: 2.6;
}

.start:hover ~ .line_one {
   visibility: visible;
}

.line_one {
   visibility: hidden;
   width: 50px;
   height: 150px;
   background-color: #6eb7e4;
   margin-left: 175px;
}

[class^="line"]:hover+[class^="line"],
[class^="line"]:hover {
   visibility: visible;
}

.line_two {
   visibility: hidden;
   width: 800px;
   height: 40px;
   background-color: #6eb7e4;
   margin-left: 175px;
}

.line_three {
   visibility: hidden;
   width: 30px;
   height: 150px;
   background-color: #6eb7e4;
   margin-left: 945px;
}

.line_four {
   visibility: hidden;
   width: 400px;
   height: 20px;
   background-color: #6eb7e4;
   margin-left: 575px;
}

.line_five {
   visibility: hidden;
   width: 15px;
   height: 140px;
   background-color: #6eb7e4;
   margin-left: 575px;
}

.line_five:hover ~ .finish,
.line_five:hover {
   visibility: visible;
}

.finish {
   visibility: hidden;
   width: 100px;
   height: 100px;
   text-align: center;
   background-color: #b3a6de;
   margin-left: 532px;
   font-size: 26px;
   padding-top: 15px;
   font-weight: 600;
   color: red;
}

.game_image {
   visibility: hidden;
   margin: -550px 425px;
}

.finish:hover ~ .game_image,
.finish:hover {
   visibility: visible;
}

.footer {
   background-color: blanchedalmond;
   padding: 30px;
}

.footer p {
   text-align: center;
   color: #be00ff;
   text-shadow: 10px 10px 20px;
   font-size: 30px;
   font-weight: 600;
   text-transform: uppercase;
}