@import url(https://fonts.googleapis.com/css?family=Montserrat:800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:500&display=swap);
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-regular.woff2") format("woff2"), url("../fonts/causten-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-medium.woff2") format("woff2"), url("../fonts/causten-medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-semi-bold.woff2") format("woff2"), url("../fonts/causten-semi-bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-bold.woff2") format("woff2"), url("../fonts/causten-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/coresansc-65bold.woff") format("woff2"), url("../fonts/coresansc-65bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/coresansc-55medium.woff2") format("woff2"), url("../fonts/coresansc-55medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/coresansc-85heavy.woff2") format("woff2"), url("../fonts/coresansc-85heavy.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extrabold.woff2") format("woff2"), url("../fonts/montserrat-extrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
.hero__img-bg, .header__img-logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  width: 100%;
}

.wrapper {
  position: relative;
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
  padding: 31px 0;
  z-index: 50;
}
.header__container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 5px;
}
.header__logo {
  width: 91px;
  height: 45px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.header__img-logo {
  aspect-ratio: 91/45;
}
.header__list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item-menu:first-child .header__link-menu {
  color: #3C4242;
  font-weight: 700;
}
.header__link-menu {
  color: #807D7E;
  font-family: "Causten", sans-serif;
  font-size: 22px;
  font-weight: 500;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.header__link-menu:hover {
  color: #3C4242;
  font-weight: 700;
  text-decoration: underline;
}
.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 267px;
          flex: 0 1 267px;
  width: 267px;
  padding: 12px 20px 12px 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #F6F6F6;
}
.header__search:hover {
  outline: 1px solid grey;
}
.header__input-search {
  width: 100% !important;
  background: #F6F6F6;
  color: #807D7E;
  font-family: "Causten", sans-serif;
  font-size: 16px;
}
.header__button-search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 11px;
  left: 20px;
}
.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.header__link-action {
  padding: 12px;
  border-radius: 8px;
  background: #F6F6F6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__link-action:hover {
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}
.header__img-action {
  width: 20px;
  height: 20px;
}

.burger {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(212, 207, 207);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
.burger__line, .burger__line::before, .burger__line::after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: calc(50% - 13px);
  width: 26px;
  height: 2px;
  border: 1px solid #3C4242;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.burger__line::before {
  top: -6px;
}
.burger__line::after {
  top: 4px;
}

#switcher {
  display: none;
}
#switcher:checked ~ .burger > .burger__line {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#switcher:checked ~ .burger > .burger__line::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}
#switcher:checked ~ .burger > .burger__line::before {
  display: none;
}

.hero__container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 108px 5px 0 5px;
}
.hero__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 129px 0 162px 189px;
  aspect-ratio: 1440/791;
}
.hero__img-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.hero__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 439px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Core Sans C";
  color: #FFF;
}
.hero__subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
.hero__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Core Sans C";
  font-size: 78px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.315px;
}
.hero__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.315px;
}
.hero__link {
  padding: 16px 72px;
  border-radius: 8px;
  background: #FFF;
  color: #3C4242;
  text-align: center;
  font-family: "Causten", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.hero__link:hover {
  border: 3px solid rgb(27, 157, 212);
  -webkit-box-shadow: 0 0 20px rgb(11, 111, 142);
          box-shadow: 0 0 20px rgb(11, 111, 142);
  background-color: aliceblue;
}
.hero__bg::before {
  content: "";
  width: 24px;
  height: 44px;
  position: absolute;
  left: 45px;
  top: 50%;
  background: url(../img/icon/chevron-left.svg) 0 0/cover no-repeat;
  z-index: 1;
}
.hero__bg::after {
  content: "";
  width: 24px;
  height: 44px;
  position: absolute;
  right: 50px;
  top: 50%;
  background: url(../img/icon/chevron-right.svg) 0 0/cover no-repeat;
}