@import url(https://fonts.googleapis.com/css?family=Inter:400,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:700&display=swap);

@import url(fonts.css);

@import url(reset.css);

body {
   font-family: 'Causten', sans-serif;
   font-weight: 400;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}
/* HEADER */

.header {
   width: 100%;
   background: linear-gradient(0deg, rgba(238, 174, 202, 0.7917760854341737) 0%, rgba(147, 58, 213, 0.9066220238095238) 50%, rgba(148, 187, 233, 0.8590029761904762) 100%);
}

.header__container {
   max-width: 100%;
}

.header__title {
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   text-shadow: 10px 10px 7px;
   color: yellowgreen;
   padding: 20px;
}

.header__title h1 {
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 20px;
}

.header__title h2 {
   font-size: 20px;
   font-weight: 500;
}

/* MAIN */

/* SECTION 1 */

.contact-form__container {
   max-width: 1250px;
   padding: 30px 15px;
   margin: 0 auto;
}

.call-back {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 40px;
}

.call-back__title {
   display: flex;
   flex: 0 1 auto;
   flex-direction: column;
   align-items: center;
   gap: 16px;
}

.title__subtitle {
   display: flex;
   flex: 0 0 auto;
   gap: 6px;
   color: rgba(55, 57, 63, 1);
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   font-weight: 500;
}

.title__subtitle::before {
   content: '';
   width: 12px;
   height: 12px;
   background-color: #40DDB6;;
   align-self: center;
}

.title__call-back {
   color: #37393F;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.2;
}

.call-back__form {
   display: flex;
   flex: 0 1 100%;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.form__pack {
   display: flex;
   flex: 0 1 100%;
   row-gap: 28px;
   column-gap: 35px;
   font-size: 18px;
   color: #37393F;
   flex-wrap: wrap;
}

.form__line {
   display: flex;
   flex: 0 1 591px;
}

.form__line input {
   display: flex;
   flex: 1 0 auto;
   height: 65px;
   border: 1px solid #DDD;
   background: #F8F8F8;
   padding-left: 40px;
   padding-right: 10px;
   color: #37393F;
   font-family: 'Inter', sans-serif;
   font-size: 18px;
}

.form__area {
   display: flex;
   flex: 1 1 auto;
   height: 222px;
}

.form__textarea {
   width: 100%;
   min-height: 100%;
   background: #F8F8F8;
   border: 1px solid #DDD;
   font-size: 18px;
   font-family: 'Inter', sans-serif;
   color: #37393F;
   padding: 15px 10px 15px 40px;
}

.button__submit {
   width: 184px;
   height: 65px;
   cursor: pointer;
   padding: 21px 61px 22px 61px;
   background: #6B77E5;
   color: #FFF;
   text-align: center;
   font-family: 'Inter', sans-serif;
   font-size: 18px;
   font-weight: 600;
   text-transform: capitalize;
}

/* SECTION 2 */

.order-form__container {

}

/* SECTION 3 */

.payment-form__container {
   
}

/* FOOTER */

.footer {
   width: 100%;
   background: linear-gradient(0deg, rgba(238, 174, 202, 0.7917760854341737) 0%, rgba(147, 58, 213, 0.9066220238095238) 50%, rgba(148, 187, 233, 0.8590029761904762) 100%);
}

.footer__title {
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   text-shadow: 10px 10px 7px;
   color: yellowgreen;
   padding: 20px;
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 20px;
}