@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@import url(reset.css);

body {
   font-family: 'Inter', sans-serif;
   color: #7D7D7D;
   font-size: 18px;
}

.container {
   padding: 50px 15px;
   max-width: 722px;
   margin: 0 auto;
}

.idea {
   margin-bottom: 42px;
}

.idea > img {
   max-width: 100%;
}

.idea > h2 {
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 30px;
   font-style: normal;
   font-weight: 600;
   line-height: 1.27;
   margin-top: 24px;
   margin-bottom: 12px;
}

.idea > p {
   text-align: justify;
   line-height: 1.46;
}

.collaboration {
   margin-bottom: 50px;
}

.text {
   margin-bottom: 40px;
}

.text > h3 {
   color: #6B77E5;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 12px;
}

.text > p {
   line-height: 1.46;
}

.benefits {
   vertical-align: top;
   font-size: 0;
}

.benefits-our {
   display: inline-block;
   width: 330px;
   font-size: 18px;
}

.benefits > img {
   width: 330px;
   margin-right: 26px;
}

.benefits-our h3 {
   color: #37393F;
   font-family: 'Poppins', sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 15px;
}

.benefits-our > h5 {
   margin-bottom: 21px;
   color: #40DDB6;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.27;
}

.list-block {
   vertical-align: middle;
}

li img {
   width: 27px;
   height: 27px;
}

li p {
   display: inline-block;
   padding-top: 5px;
}

.list-item {
   margin-bottom: 30px;
}

.jewellery-container {
   max-width: 1169px;
   margin: 0 auto;
}

.occupation {
   width: 100%;
   vertical-align: top;
}

.point {
   display: inline-block;
   max-width: 563px;
   padding: 21px 0;
   margin-right: 32px;
}

.point h3 {
   color: #D06B00;
   font-size: 28px;
   line-height: normal;
}

.point h2 {
   color: #0E333D;
   font-family: 'DM Serif Text', sans-serif;
   font-size: 59px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.46;
   margin-bottom: 25px;
}

.point p {
   color: #474747;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.8;
}

.example {
   display: inline-block;
   max-width: 568px;
   vertical-align: top;
   font-size: 0;
}

.example-one,
.example-two {
   max-width: 273px;
   height: 518px;
   display: inline-block;
}

.example-one {
   margin-right: 8px;
}

.addition h2 {
   text-align: center;
   margin-top: 50px;
}

.hello {
   width: 100%;
   height: 50px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 50px;
}

.hello a {
   display: inline-block;
   padding: 20px;
}

.addition-container {
   width: 1110px;
   max-width: 100%;
   margin: 0 auto;
}

.first {
   min-width: 900px;
   margin-bottom: 50px;
   padding: 10px 10px 10px 10px;
}

.collapse {
   width: 50%;
   margin-bottom: 100px;
}

.collapsive {
   margin-top: -140px;
   margin-bottom: 50px;
}

.hidden {
   height: 50px;
   overflow: hidden;
   margin-bottom: 50px;
}

.scroll {
   width: 100%;
   height: 100px;
   overflow: scroll;
   margin-bottom: 50px;

}

.visible {
   height: 50px;
   overflow: visible;
}

.second {
   margin-top: 50px;
   max-width: 900px;
   min-width: 700px;
   max-height: 100px;
   overflow: hidden;
}

.addition img {
   width: 100%;
}

.img {
   font-size: 0;
   margin: 50px 15px 15px 15px;
   padding: 10px 10px 10px 10px;
}

.img img {
   width: 150px;
}

