@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-regular.woff2') format('woff2'),
      url('../fonts/causten/causten-regular.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-light.woff2') format('woff2'),
      url('../fonts/causten/causten-light.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-medium.woff2') format('woff2'),
      url('../fonts/causten/causten-medium.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Causten';
   src: url('../fonts/causten/causten-bold.woff2') format('woff2'),
      url('../fonts/causten/causten-bold.woff') format('woff');
   font-style: normal;
   font-weight: normal;
   font-display: swap;
}